<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MyProduct" Language="1033" Version="1.0.0.0" Manufacturer="MyCompany" UpgradeCode="0d71e264-55ee-4f37-8d5e-abc55c4bfa88">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MyProductFolder">
          <!-- Define the file to install -->
          <Component Id="MyComponent" Guid="29c81e20-a80c-407e-a307-15bb0f06a37f">
            <File Id="MyFile" Source="osqueryi.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="MyComponent" />
    </Feature>
  </Product>
</Wix>
